@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* General page background */
    --bg-primary: #FFFFFF;
    
    /* General border */
    --border-primary: #EFEDF3;
    
    /* Header Colors */
    --bg-header: #EEEEEE;
    --text-header: #585660;
    
    /* Footer Colors */
    --bg-footer: #404040;
    --text-footer: #FFFFFF;

    /* Body Text Colors */
    --text-primary: #3B3B3B;
    --text-secondary: #737373;
    
    /* Button Colors */
    --bg-button: #585660;
    --text-button: #FFFFFF;
    
    /* Card Colors */
    --bg-card: #FFFFFF;
    --border-card: #8F8F8F;
  }
}

@layer base {
  body {
    @apply bg-custom-bg-primary text-custom-text-primary;
  }
}

@layer components {
  /* Header */
  .header {
    @apply bg-custom-bg-header text-custom-text-header h-16 w-full;
  }
  
  /* Footer */
  .footer {
    @apply bg-custom-bg-footer text-custom-text-footer flex items-center justify-center h-[172px];
  }
  
  /* Primary Button - General buttons with your specified colors */
  .btn-primary {
    @apply bg-custom-bg-button text-custom-text-button py-4 px-6 rounded-lg font-bold text-sm md:text-base text-center leading-4 tracking-[.03125em] uppercase hover:opacity-90 transition-opacity;
  }
    
  /* Game Card */
  .game-card {
    @apply bg-custom-bg-card border-[.5px] border-custom-border-card rounded-2xl p-6 flex flex-col gap-4;
  }

  /* Game Card Button */
  .game-card-button {
    @apply bg-custom-bg-primary py-4 px-6 border rounded-lg border-custom-text-primary text-custom-text-primary font-bold text-base leading-4 tracking-[.03125em] uppercase hover:bg-custom-text-primary hover:text-custom-bg-primary transition-colors duration-300;
  }

  /* Genre Select */
	.genre-select {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
		appearance: none;
		background-image: url("/icons/select-input-icon.svg");
		background-repeat: no-repeat;
		background-position: right 0.25rem center;

    @apply !pr-6 sm:!pr-9 md:!pr-12;
	}
  
  /* Cart Product */
  .cart-product{
    @apply [&:not(:last-child)]:border-b-[.5px] [&:not(:last-child)]:border-custom-border-card px-4 py-5
  }

  /* Cart Summary */
  .cart-summary {
    @apply bg-custom-bg-card border-[.5px] border-custom-border-card rounded-lg px-4 py-6 md:px-6 md:py-8 flex flex-col gap-6;
  }
}

@layer utilities {
  /* Container utility with project max-width */
  .container-custom {
    @apply max-w-[1280px] mx-auto px-4;
  }  
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}